* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log {
    height: 200px;
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 100px;
    margin-left: 600px;
}